body{
    margin:0;
    padding:0;
    }
    .nav ul{
    list-style: none;
    background:black;
    text-align:center;
    padding:0;
    margin:0;
    }
    .nav li{
        display:inline-block;
    }
    .nav a{
        text-decoration: none;
        color:white;
        width:100px;
        display:block;
        padding:20px;
        font-size:20px;
        font-family:'Courier New', Courier, monospace;
        text-transform: uppercase;
    }
.home{
    background-image: url("/fartush.jpg");
    background-size: cover;
     height: 47vh; 
     text-align: right;
    padding-top: 280px;
    padding-right: 300px;
}
.about{
    display: flex;
    justify-content: space-between;
}
.joker{
    margin-left: 5%;
    margin-right: 3%;
}

/* .faz{
    background-image: url("/my\ home\ image.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
} */
/* .naz{
    display: flex;
} */
/* .about p{
    text-align:right;
} */
/* aside{
    float: right;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
} */
.p1{
    padding-right: 100%;
}
h2{
    text-align: center;
    float:center;
}
/* #skills{
    float: right;
    padding-right:50%;
} */

#education{
    text-align: center;
    padding-bottom: 100px;
}
#education h2{
    text-align: center;
}
.cards {
    margin-left: 150px;
    align-content:center;
}
/* .word p{
    font-size:18px;
} */
.card {
    box-shadow: 0 4px 8px 0 rgba(207, 171, 171, 0.2);
    transition: 0.3s;
    display: inline-block;
    margin-left: 30px;
    width: 18%;
    height: 20%;
    padding-left: 50px;
}
.card img{
width: 200px;
}
#skills img{
    width: 200px;
}
#skills{
 display: flex;
 justify-content: space-evenly;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* .card1 {
    padding-right: 30px;
} */
#contact p{
    font-size: 20px;
    text-align: center;
    color:black;
    font-family: sans-serif;
}
#contact h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    color:black;
}
.footer h3{
    background: black;
    color:white;
    text-align: center;
    padding:20px;
}

 h4 {
    color:black;
}
.var {
    margin-left: 5%;
}


